/* custom.css */
body {
    background-color: #282828;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.sidebar-title {
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin-bottom: 50px;
}

.sidebar-link {
    color: #ffffff !important;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.sidebar-link:hover {
    background-color: #333333 !important;
}

.page-title {
    font-size: 22px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #ffffff;
}

.card-text {
    font-size: 12px;
    font-family: 'Courier New', monospace;
}

/* Aumentar o tamanho dos cards */
.card-custom {
  min-height: 250px;
  min-width: 250px;
  background-color: #1e1e1e;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilo padrão do botão tipo pílula */
.btn-pill {
  border-radius: 50px;
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 12px;
  transition: all 0.3s ease;
}

/* Quando o botão está ativo (selecionado) */
.btn-pill.active {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #ffffff;
}

/* Hover para reforçar a interação */
.btn-pill:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

/* Sidebar hover cinza escuro */
.nav-link:hover {
    background-color: #333 !important;
    color: #eee !important;
}

/* Fonte menores */
h2 {
    font-size: 20px !important;
}

h3 {
    font-size: 18px !important;
}

.nav-link {
    font-size: 14px !important;
}

/* Você pode adicionar mais customizações aqui */
/* Página ativa em branco com texto preto */

.nav-link.active {
    background-color: #fff !important;
    color: #000 !important;
}

.sidebar-separator {
    border: none;
    border-bottom: 1px solid #767676;
    margin: 0 0 20px 0;
}